<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TFG-Mario Pajares</title>

    <!-- Bootstrap core CSS -->

    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!--<link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">-->
    <!--<link href="{{ url_for('static', filename='vendor/devicons/css/devicons.min.css') }}" rel="stylesheet">-->
    <!--<link href="{{ url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet">-->


    <!-- Custom styles for this template -->

    <link href="{{ url_for('static', filename='css/resume.css') }}" rel="stylesheet">
  <style>#nombre_tfg{font-size: 3em;}</style>
    <style>
      @media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}
    </style>
  </head>
  <body id="page-top">
    <nav class="navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger">
        <span class="d-block d-lg-none"></span>
        <span class="d-none d-lg-block">
          <!--<img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ url_for('static', filename='img/profile.jpg') }}" alt="">-->
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger"></a>
          </li></ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto" >
          <h2 class="mb-0" id = "nombre_tfg">Unificación de esquemas de
            <span class="text-primary">representación de datos en RDF</span>
          </h2>
          <div class="subheading mb-5">Mario Pajares Galeano</div>
            <form action="home">
        <p>
            {{ form.rdf1.label}}<br>
            {{ form.rdf1(size=32,value= "http://opendata.caceres.es/dataset/2cc2ece0-4118-4864-b2e6-f2baccf9d70c/resource/45962ac2-c6ab-42d6-a8f4-629bfa07d8e3/download/farmacias.ttl") }}
        </p>
        <p>
            {{ form.rdf2.label }}<br>
            {{ form.rdf2(size=32, value="http://opendata.unex.es/dataset/1acf0ec6-1149-4f1c-9722-7bce64efc0d1/resource/82fcfd2b-f89b-4620-a931-74c468b18fd3/download/centrosuex.ttl") }}
        </p>
        <p>
            {{ form.ratio.label }}<br>
            {{ form.ratio(size=32, value="0.8") }}
        </p>
        <p>
            {{ form.nombreRDF.label }}<br>
            {{ form.nombreRDF(size=32) }}

        </p>

            <button class="btn btn-primary" onclick="Ejecutar()"> Comenzar proceso </button>

    </form>
        </div>
        <div id="loader"></div>
      </section>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <script>
        function getNames(word1, word2) {
            alert(word1.toString());
            var url = window.location.href +'/'+word1+'/'+word2;
            window.history.pushState('page2', 'Title', url);
        }
        function Ejecutar() {
          document.getElementById("loader").style.visibility = 'visible';
        }

  </script>
  <script type="text/javascript">
    function check_error(data) {
        if(data[1] == "HayError"){
            document.getElementById("rdf1").style.backgroundColor = "red";
        }
        if(data[2] == "HayError"){
            document.getElementById("rdf2").style.backgroundColor = "red";
        }
        if(data[0] == "HayError"){
            document.getElementById("ratio").style.backgroundColor = "red";
        }
        if(data[3] == "RDF1_bad"){
            alert("El RDF1 introducido esta mal formado")
        }
        if(data[3] == "RDF2_bad"){
            alert("El RDF2 introducido esta mal formado")
        }

    }
    check_error({{ data|safe }})
</script>

  </body>
</html>
