<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TFG-Mario Pajares</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/devicons/css/devicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href="{{ url_for('static', filename='css/resume.css') }}" rel="stylesheet">

    <style>#nombre_tfg{font-size: 3em;}#Inicio{color: #000000}#sectionBotones{margin-top: -8%}</style>
      <style>
          #searchJournalsSection{padding-right: 10%;padding-top: -10%;}
          #searchJournalsSection2{padding-right: 10%;padding-top: -10%;}

      </style>
  </head>
  <style>
      #contenido{
          padding-top: 7%
      }
  </style>
  <body onload="initError()">
      <nav class="navbar navbar-inverse fixed-top" style="background-color: #dd5206; height: 80px " id="page-top">
        <span class="d-none d-lg-block">
            <span class="d-none d-lg-block">
              <!--<img class="img-fluid img-profile rounded-circle mx-auto mb-2" style="width: 80px" src="{{ url_for('static', filename='img/profile.jpg') }}" alt="">-->
            </span>
        </span>

      </nav>

  <div id="contenido">
      <section class="p-3 p-lg-3">
        <div class="my-auto">
          <h2 class="mb-0" id="nombre_tfg">Unificación de esquemas de
            <span class="text-primary">representación de datos en RDF</span>
          </h2>
          <section id="sectionBotones">
          	<div class="mb-3" id="botones">
              <div>
                <h4>Resultados <span class="text-primary">Ficheros RDF :</span></h4>
                <p>Salida de los ficheros RDF con el nuevo esquema unificado</p>
              </div>

	        	<button class="btn btn-primary" onclick="descarga_rdf1()" >Esquema RDF1</button>
                <button class="btn btn-primary" onclick="descarga_rdf2()">Esquema RDF2</button>
                <button class="btn btn-primary" onclick="descarga_conjunta()">Correspondencia Esquemas 1 y 2</button>
              </div>

          </section>
            <div>
                <h4>Ratio : <span class="text-primary">{{ratio}}</span></h4>
            </div>
        </div>
      </section>
      <section class="p-3 p-lg-3 d-flex" id="searchJournalsSection" style="padding-top: -500px">

            <div id="loader">
            </div>
            <div id="journalsList">
              <br>
              <div id="tableHeader" class="page-header"><h4>RDF 1</h4>
              </div>
              <div id="tableJournalsResults">
                <p id="aditionalInfoJournals">Ha ocurrido un error</p>
                <div class="table-responsive">
                  <table id="journalsTable" class="table table-striped table-hover"></table>
                </div>
              </div>
            </div>
      </section>

      <section class="p-3 p-lg-3 d-flex" id="searchJournalsSection2" style="padding-top: -500px">
            <div id="journalsList2">
              <br>
              <div id="tableHeader2" class="page-header"><h4>RDF 2</h4></div>
              <div id="tableJournalsResults2">
                <p id="aditionalInfoJournals2">Ha ocurrido un error</p>
                <div class="table-responsive">
                  <table id="journalsTable2" class="table table-striped table-hover"></table>
                </div>
              </div>
            </div>
      </section>
    </div>
    <script type="text/javascript">

          function check_error(data) {
              if(data[0] == "errorLOV"){
                  alert("Actualmente LOV se encuentra fuera de servicio, por lo que se emplearan las ontologias definidas en el primer dataset");
              }
           }
        function initError(){
              check_error({{ data|safe }});
        }

        function descarga_rdf1 () {
            dir = window.location.href.split("//")[1].split("/")[0];
            window.location.href='http://'+dir+'/descarga1';
        }
        function descarga_rdf2 () {
            dir = window.location.href.split("//")[1].split("/")[0];
            window.location.href='http://'+dir+'/descarga2';}

        function descarga_conjunta () {
            dir = window.location.href.split("//")[1].split("/")[0];
            window.location.href='http://'+dir+'/conjunta';}

    </script>


    <script>

        function create_table(salida1, salida2, ratio) {
            var t_1 = document.getElementById("journalsTable");
            var t_2 = document.getElementById("journalsTable2");
            t_1.innerHTML = "";
            t_2.innerHTML = "";

            var info_1 = document.getElementById("aditionalInfoJournals");
            info_1.innerHTML = "";

            var info_2 = document.getElementById("aditionalInfoJournals2");
            info_2.innerHTML = "";

            var thead_1 = document.createElement('thead');
            var thead_2 = document.createElement('thead');

            thead_1.setAttribute("class", "fixedHeader");
            thead_2.setAttribute("class", "fixedHeader");

            var tr_1 = document.createElement('tr');
            var tr_2 = document.createElement('tr');

            var alg0_1 = document.createElement('th');
            var alg1_1 = document.createElement('th');
            var alg2_1 = document.createElement('th');
            var alg3_1 = document.createElement('th');
            var alg4_1 = document.createElement('th');

            var alg0_2 = document.createElement('th');
            var alg1_2 = document.createElement('th');
            var alg2_2 = document.createElement('th');
            var alg3_2 = document.createElement('th');
            var alg4_2 = document.createElement('th');


            alg0_1.innerHTML = "<h5> </h5>";
            alg1_1.innerHTML = "<h5>Distancia semantica</h5>";
            alg2_1.innerHTML = "<h5>Distancia con sinonimos</h5>";
            alg3_1.innerHTML = "<h5>Significado</h5>";
            alg4_1.innerHTML = "<h5> </h5>";

            alg0_2.innerHTML = "<h5> </h5>";
            alg1_2.innerHTML = "<h5>Distancia semantica</h5>";
            alg2_2.innerHTML = "<h5>Distancia con sinonimos</h5>";
            alg3_2.innerHTML = "<h5>Significado</h5>";
            alg4_2.innerHTML = "<h5> </h5>";

            alg1_1.style.textAlign = "center";
            alg2_1.style.textAlign = "center";
            alg3_1.style.textAlign = "center";

            alg1_2.style.textAlign = "center";
            alg2_2.style.textAlign = "center";
            alg3_2.style.textAlign = "center";

            var td1_1 = document.createElement('th');
            var td2_1 = document.createElement('th');
            var td3_1 = document.createElement('th');
            var td4_1 = document.createElement('th');
            var td5_1 = document.createElement('th');
            var td6_1 = document.createElement('th');
            var td7_1 = document.createElement('th');
            var ontologia_1 = document.createElement('th');

            var td1_2 = document.createElement('th');
            var td2_2 = document.createElement('th');
            var td3_2 = document.createElement('th');
            var td4_2 = document.createElement('th');
            var td5_2 = document.createElement('th');
            var td6_2 = document.createElement('th');
            var td7_2 = document.createElement('th');
            var ontologia_2 = document.createElement('th');

            td3_1.style.width = "50px";
            td5_1.style.width = "50px";
            td7_1.style.width = "50px";

            td3_2.style.width = "50px";
            td5_2.style.width = "50px";
            td7_2.style.width = "50px";

            td1_1.innerHTML = "<h5>Propiedades RDF 1</h5>";
            td2_1.innerHTML = "<h5>Propiedad RDF 2</h5>";
            td3_1.innerHTML = "<h5>Valor</h5>";
            td4_1.innerHTML = "<h5>Propiedad 2</h5>";
            td5_1.innerHTML = "<h5>Valor</h5>";
            td6_1.innerHTML = "<h5>Propiedad 2</h5>";
            td7_1.innerHTML = "<h5>Valor</h5>";
            ontologia_1.innerHTML = "<h5>Ontologia</h5>";

            td1_2.innerHTML = "<h5>Propiedades RDF 2</h5>";
            td2_2.innerHTML = "<h5>Propiedad RDF 1</h5>";
            td3_2.innerHTML = "<h5>Valor</h5>";
            td4_2.innerHTML = "<h5>Propiedad RDF 1</h5>";
            td5_2.innerHTML = "<h5>Valor</h5>";
            td6_2.innerHTML = "<h5>Propiedad RDF 1</h5>";
            td7_2.innerHTML = "<h5>Valor</h5>";
            ontologia_2.innerHTML = "<h5>Ontologia</h5>";

            for (var i = 0; i < salida1.length; i++) {

                tr1_1 = document.createElement('tr');
                tr2_1 = document.createElement('tr');
                tr3_1 = document.createElement('tr');
                tr4_1 = document.createElement('tr');
                tr5_1 = document.createElement('tr');
                tr6_1 = document.createElement('tr');
                tr7_1 = document.createElement('tr');
                tr8_1 = document.createElement('tr');

                var elem1_1 = document.createElement("a");
                var elem2_1 = document.createElement("a");
                var elem3_1 = document.createElement("a");
                var elem4_1 = document.createElement("a");
                var elem5_1 = document.createElement("a");
                var elem6_1 = document.createElement("a");
                var elem7_1 = document.createElement("a");
                var elem8_1 = document.createElement("a");

                var tbody1_1 = document.createElement('tbody');
                var tbody2_1 = document.createElement('tbody');
                var tbody3_1 = document.createElement('tbody');
                var tbody4_1 = document.createElement('tbody');
                var tbody5_1 = document.createElement('tbody');
                var tbody6_1 = document.createElement('tbody');
                var tbody7_1 = document.createElement('tbody');
                var tbody8_1 = document.createElement('tbody');

                elem1_1.text = (salida1[i]["prop"]);
                elem1_1.style.color = "black";

                elem2_1.text = (salida1[i]["distancia_semantica"]["propiedad"]);
                elem2_1.style.color = "black";

                elem3_1.text = (salida1[i]["distancia_semantica"]["valor"]);
                elem3_1.style.color = "black";

                if (salida1[i]["distancia_semantica"]["valor"] > ratio) {
                    tbody3_1.style.backgroundColor = "#DCE775";
                }

                elem4_1.text = (salida1[i]["distancia_sinonimos"]["propiedad"]);
                elem4_1.style.color = "black";

                elem5_1.text = (salida1[i]["distancia_sinonimos"]["valor"]);
                elem5_1.style.color = "black";

                if (salida1[i]["distancia_sinonimos"]["valor"] > ratio) {
                    tbody5_1.style.backgroundColor = "#DCE775";
                }

                elem6_1.text = (salida1[i]["distancia_significado"]["propiedad"]);
                elem6_1.style.color = "black";

                elem7_1.text = (salida1[i]["distancia_significado"]["valor"]);
                elem7_1.style.color = "black";

                if (salida1[i]["distancia_significado"]["valor"] > ratio) {
                    tbody7_1.style.backgroundColor = "#DCE775";
                }

                elem8_1.text = salida1[i]["ontologia"];
                elem8_1.style.color = "black";
                tbody8_1.style.backgroundColor = "#DCE775";


                tr1_1.appendChild(elem1_1);
                tr2_1.appendChild(elem2_1);
                tr3_1.appendChild(elem3_1);
                tr4_1.appendChild(elem4_1);
                tr5_1.appendChild(elem5_1);
                tr6_1.appendChild(elem6_1);
                tr7_1.appendChild(elem7_1);
                tr8_1.appendChild(elem8_1);

                tbody1_1.appendChild(tr1_1);
                tbody2_1.appendChild(tr2_1);
                tbody3_1.appendChild(tr3_1);
                tbody4_1.appendChild(tr4_1);
                tbody5_1.appendChild(tr5_1);
                tbody6_1.appendChild(tr6_1);
                tbody7_1.appendChild(tr7_1);
                tbody8_1.appendChild(tr8_1);

                td1_1.appendChild(tbody1_1);
                td2_1.appendChild(tbody2_1);
                td3_1.appendChild(tbody3_1);
                td4_1.appendChild(tbody4_1);
                td5_1.appendChild(tbody5_1);
                td6_1.appendChild(tbody6_1);
                td7_1.appendChild(tbody7_1);
                ontologia_1.appendChild(tbody8_1);

            }

            alg0_1.appendChild(td1_1);
            alg1_1.appendChild(td2_1);
            alg1_1.appendChild(td3_1);
            alg2_1.appendChild(td4_1);
            alg2_1.appendChild(td5_1);
            alg3_1.appendChild(td6_1);
            alg3_1.appendChild(td7_1);
            alg4_1.appendChild(ontologia_1);

            tr_1.appendChild(alg0_1);
            tr_1.appendChild(alg1_1);
            tr_1.appendChild(alg2_1);
            tr_1.appendChild(alg3_1);
            tr_1.appendChild(alg4_1);
            thead_1.appendChild(tr_1);
            t_1.appendChild(thead_1);

        for (var i = 0; i < salida2.length; i++) {
                tr1_2 = document.createElement('tr');
                tr2_2 = document.createElement('tr');
                tr3_2 = document.createElement('tr');
                tr4_2 = document.createElement('tr');
                tr5_2 = document.createElement('tr');
                tr6_2 = document.createElement('tr');
                tr7_2 = document.createElement('tr');
                tr8_2 = document.createElement('tr');

                var elem1_2 = document.createElement("a");
                var elem2_2 = document.createElement("a");
                var elem3_2 = document.createElement("a");
                var elem4_2 = document.createElement("a");
                var elem5_2 = document.createElement("a");
                var elem6_2 = document.createElement("a");
                var elem7_2 = document.createElement("a");
                var elem8_2 = document.createElement("a");

                var tbody1_2 = document.createElement('tbody');
                var tbody2_2 = document.createElement('tbody');
                var tbody3_2 = document.createElement('tbody');
                var tbody4_2 = document.createElement('tbody');
                var tbody5_2 = document.createElement('tbody');
                var tbody6_2 = document.createElement('tbody');
                var tbody7_2 = document.createElement('tbody');
                var tbody8_2 = document.createElement('tbody');

                elem1_2.text = (salida2[i]["prop"]);
                elem1_2.style.color = "black";

                elem2_2.text = (salida2[i]["distancia_semantica"]["propiedad"]);
                elem2_2.style.color = "black";

                elem3_2.text = (salida2[i]["distancia_semantica"]["valor"]);
                elem3_2.style.color = "black";

                if (salida2[i]["distancia_semantica"]["valor"] > ratio) {
                    tbody3_2.style.backgroundColor = "#DCE775";
                }

                elem4_2.text = (salida2[i]["distancia_sinonimos"]["propiedad"]);
                elem4_2.style.color = "black";

                elem5_2.text = (salida2[i]["distancia_sinonimos"]["valor"]);
                elem5_2.style.color = "black";

                if (salida2[i]["distancia_sinonimos"]["valor"] > ratio) {
                    tbody5_2.style.backgroundColor = "#DCE775";
                }

                elem6_2.text = (salida2[i]["distancia_significado"]["propiedad"]);
                elem6_2.style.color = "black";

                elem7_2.text = (salida2[i]["distancia_significado"]["valor"]);
                elem7_2.style.color = "black";

                if (salida2[i]["distancia_significado"]["valor"] > ratio) {
                    tbody7_2.style.backgroundColor = "#DCE775";
                }

                elem8_2.text = salida2[i]["ontologia"];
                elem8_2.style.color = "black";
                tbody8_2.style.backgroundColor = "#DCE775";


                tr1_2.appendChild(elem1_2);
                tr2_2.appendChild(elem2_2);
                tr3_2.appendChild(elem3_2);
                tr4_2.appendChild(elem4_2);
                tr5_2.appendChild(elem5_2);
                tr6_2.appendChild(elem6_2);
                tr7_2.appendChild(elem7_2);
                tr8_2.appendChild(elem8_2);

                tbody1_2.appendChild(tr1_2);
                tbody2_2.appendChild(tr2_2);
                tbody3_2.appendChild(tr3_2);
                tbody4_2.appendChild(tr4_2);
                tbody5_2.appendChild(tr5_2);
                tbody6_2.appendChild(tr6_2);
                tbody7_2.appendChild(tr7_2);
                tbody8_2.appendChild(tr8_2);

                td1_2.appendChild(tbody1_2);
                td2_2.appendChild(tbody2_2);
                td3_2.appendChild(tbody3_2);
                td4_2.appendChild(tbody4_2);
                td5_2.appendChild(tbody5_2);
                td6_2.appendChild(tbody6_2);
                td7_2.appendChild(tbody7_2);
                ontologia_2.appendChild(tbody8_2);

            }

            alg0_2.appendChild(td1_2);
            alg1_2.appendChild(td2_2);
            alg1_2.appendChild(td3_2);
            alg2_2.appendChild(td4_2);
            alg2_2.appendChild(td5_2);
            alg3_2.appendChild(td6_2);
            alg3_2.appendChild(td7_2);
            alg4_2.appendChild(ontologia_2);

            tr_2.appendChild(alg0_2);
            tr_2.appendChild(alg1_2);
            tr_2.appendChild(alg2_2);
            tr_2.appendChild(alg3_2);
            tr_2.appendChild(alg4_2);
            thead_2.appendChild(tr_2);
            t_2.appendChild(thead_2);
        }

    create_table({{errores1 | safe }},{{errores2 | safe }}, {{ratio | safe }});
    </script>

<style type="text/css">
	#botones, botones2, botones3, botones4{
		margin-top: 10%;
	}
    .table td, .table th {
        padding: .35rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    a{
        font-size: 17px;
    }

</style>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  </body>

</html>
